.mainBox{
  background-color: bisque;
  height: 20rem;
  width: 100%;
}

.mainBox > * {
  display:inline-block;
  background-color:lightgreen;
}
.send{
  background-color: blue;
  margin-top: 10px;
  width: 50%;
  height: 15rem;
}

.recieve{
  background-color: blueviolet;
  margin-top: 10px;
  height: 15rem;
  width: 50%;
}